# microWakeWord training dependencies
# TODO: Pin versions after first successful mWW training run
microwakeword
tensorflow==2.21.0
numpy==2.4.3
scipy==1.17.1
soundfile==0.13.1
librosa==0.11.0
tqdm
PyYAML
